NEXT_PUBLIC_SUPABASE_URL=https://vxskkaxvlgycokdtuocj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MINCHAP_API_BASE_URL=https://api.minchapseries.com
NEXT_PUBLIC_BYTEPLUS_LICENSE=
NEXT_PUBLIC_TIKTOK_CLIENT_KEY=
NEXT_PUBLIC_BYPASS_TIKTOK_AUTH=false
